.alert {
    padding: 20px; 
    margin-bottom: 15px;
    border-radius: 5px; 
    border-width: 1px;
    border-style: solid;        
    color: $grey;
    border-color: $clear-grey;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}