// Red colors
$dark-red: #b34343;
$red: #c94c4c;
$mid-red: #d6b2b2;
$clear-red: #ffdddd;

// Green colors
$dark-green: #158515;
$green: #16a516;
$mid-green: #93b193;
$clear-green: #e6fce6;

//Yellow colors
$dark-yellow: #777700;
$yellow: #a1a103;
$mid-yellow: #a7a779;
$clear-yellow: #ffffc6;

// Blue colors 
$dark-blue: #1EAEDB;
$blue: #33C3F0;
$mid-blue: #8497aa;
$clear-blue: #e1f0ff;

// Grey colors
$dark-grey: #444;
$grey: #555;
$mid-grey: #777;
$clear-grey: #999;

// White colors
$dark-white: #D1D1D1;
$white: #fff;