.note {
    border-radius: 4px;
    border-left: 6px solid;
    padding-left: 1%;
    color: $grey;
    margin-bottom: 15px;
}

.note.danger {   
    border-left-color: $red;
}

.note.success {        
    border-left-color: $green;            
}

.note.warning {    
    border-left-color: $yellow;           
}

.note.primary {    
    border-left-color: $blue;        
}

.note.dark {
    border-left-color: $clear-grey;           
}