 /* Pagination links */
 .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .7s;
    border-radius: 50%;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #33C3F0;
    color: #fff;
    border-radius: 50%;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #D1D1D1;} 